{% extends 'base.html' %}
{% block title %}
<title>My Tasks</title>
{% endblock title %}
{% block content %}
<main>
    {% if user.is_authenticated %}
    <div>
        <h1>My Tasks</h1>
        {% if task_list|length == 0 %}
            <p>You have no tasks</p>
        {% else %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                    {% for task in task_list %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ value|yesno:"yes,no" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
    </div>
    {% endif %}
</main>        
{% endblock content %}