{% extends "base.html" %}

{% block title %}
<title></title>
{% endblock title %}

{% block content %}
    <main>
        {% if user.is_authenticated %}
        <div>
            <h1>{{ projects.name }}</h1>
            <p>{{ projects.description }}</p>
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            {% if projects.tasks.all|length == 0  %}
            <p>This project has no tasks</p>
            {% else %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                    {% for task in projects.tasks.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date}}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ value|yesno:"yes,no" }}</td>                            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}           
        </div>
        {% endif %}
    </main>
{% endblock content %}
