{% extends 'base.html' %}
{% block title %}
<title>Projects</title>
{% endblock title %}

{% block content %}
<main>
    {% if user.is_authenticated %}
    <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>
        {% if projects|length == 0 %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
    </div>
</main>
{% endblock content %}
